# Build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compiled binaries
*.out
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# IDE-specific files
.vscode/
.idea/
*.sdf
*.suo
*.user
*.opensdf
*.VC.db

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
